html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

/* Remove arrows from numeric input fields */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


input[type=number] {
  -moz-appearance: textfield;
}
